*{
    margin: 0;
    padding: 0;
}

/* FIRST - SECTION */
#first-section{
    /* border: 2px solid black; */
    background-color: rgba(255, 255, 255, 1);
    height: 99vh;
}
.nav-bar{
    /* border: 3px solid green; */
    margin-left: 4rem;
    margin-right: 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* #nav-logo{

} */
#nav-ul{
    display: flex;

}
.nav-li{
    list-style: none;
    padding-left: 3rem;
}
.nav-img{
    height: 1.1rem;
    width: 1.1rem;
    margin-right: 1.5rem;
}

#first-sec-down{
    /* border: 3px solid green; */
    height: 85%;
    background-image: url("./img1-b.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:bottom;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding-right: 3rem;
}
.first-desc{
    /* border: 3px solid black; */
    background-color: rgba(255, 243, 227, 1);
    width: 30%;
    padding: 2rem;
}
#first-h6{
    color: rgba(51, 51, 51, 1);
    letter-spacing: 2px;
    padding-bottom: 1rem;
    font-size: large;
}
#first-h1{
    color:rgba(184, 142, 47, 1);
    padding-bottom: 1rem;
    font-size: 3rem;

}
#first-p{
    padding-bottom: 1rem;
}
#first-b{
    border: 0;
    background-color: rgba(184, 142, 47, 1);
    height: 3rem;
    width: 9rem;
}

/* SECOND - SECTION */
#second-section{
    /* border: 3px solid black; */
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 4rem;
}
.sec-first-box{
    /* border:2px solid palevioletred; */
    padding-top: 2rem;
    text-align: center;
}
.sec-h1{
    color:rgba(51, 51, 51, 1);
    padding-bottom: 0.3rem;
}
.sec-p{
    color:rgba(102, 102, 102, 1);
    padding-bottom: 3rem;
}
.sec-img{
    display: flex;
    justify-content: space-between;
}
.sec-img-1{
    /* border:2px solid greenyellow; */
    border-radius: 0.1rem;
    width: 24rem;
    height: 26rem;
    background-image: url("./dining.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.sec-img-2{
    /* border:2px solid greenyellow; */
    border-radius: 0.1rem;
    width: 24rem;
    height: 26rem;
    background-image: url("./Image-living\ room.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.sec-img-3{
    /* border:2px solid greenyellow; */
    border-radius: 0.5rem;
    width: 24rem;
    height: 26rem;
    background-image: url("./bedroom.png");
    background-size: cover;
    background-repeat: no-repeat;
} 
.sec-desc{
    padding-top: 1rem;
    text-align: center;
}

.sec-sec-box{
    /* border: 2px solid peru; */
    padding-top: 6rem;
    text-align: center;
}
.sec-sec-box0{
    /* border:2px  solid black; */
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    text-align: left;
}
#sec-div1{
    /* border:2px solid teal; */
    position: relative;

}
#sec-div2{
    /* background-color: gray; */
    /* border:2px solid teal; */
    position: relative;

}
.div-img{
    height: 17rem;
    width: 17rem;
}
.div-img2{

    height: 17rem;
    width: 17rem;
}
#dis{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
#button{
    color: rgba(184, 142, 47, 1);
    background-color: rgba(255, 255, 255, 1);
    border: 0;
    width: 8rem;
    height: 2rem;
    position: absolute;
    top: 11rem;
    right: 5rem;
}
#fream1{
    position: absolute;
    top: 14rem;
    right: 10em;
}
#fream2{
    position: absolute;
    top: 14rem;
    right: 5rem;
}
#fream3{
    position: absolute;
    top: 14rem;
    right: 1rem;
}

.sec-div-desc{
    background-color: rgba(244, 245, 247, 1);
    padding: 1rem;

}
.sec-div-h3{
    color:rgba(58, 58, 58, 1);
    padding-top: em;
}
.sec-div-p{
    color:rgba(137, 137, 137, 1);
    padding-top:1rem;
    padding-bottom: 1rem;

}
span{
    color: rgba(176, 176, 176, 1);
}
button{
    border:2px solid rgba(184, 142, 47, 1);
    background-color: rgba(255, 255, 255, 1);
    margin-top: 3rem;
    width: 12rem;
    height: 3rem;
    color: rgba(184, 142, 47, 1);
}


/* THIRD - SECTION  */
#third-section{
    /* border: 3px solid black; */
    height: 99vh;
    background-color: rgba(252, 248, 243, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7rem;
    padding-right: 7rem;

}
.third-sec-desc{
    /* border: 3px solid green; */
    /* padding: 1rem; */
    /* height: 50vh; */
}
.third-h1{
    color:rgba(58, 58, 58, 1);
    padding-bottom: 1rem;
    font-size: 3rem;
}
.third-p{
    color:rgba(97, 97, 97, 1);
    padding-bottom: 1rem;

}
.third-b{
    background-color: rgba(184, 142, 47, 1);
    color:rgba(255, 255, 255, 1);
    height: 2rem;
    width: 9rem;
    border:0;
}
.third-img{
    height: 70%;
    width: 100%;
}

/* FOOTER - SECTION */
#footer-section{
    /* border: 3px solid black; */
    height: 40vh;
    padding-top: 2rem;
    padding-left: 7rem;
    padding-right: 7rem;
}
.footer-box{
    border: 0;
    border-bottom:3px solid rgba(217, 217, 217, 1);
    display: flex;
    justify-content: space-between;
}
.box-1{
    /* border: 3px solid purple; */
}
#f-box-p{
    padding-top: 2rem;
    color: rgba(159, 159, 159, 1);
}
.footer-ul1{
    /* border:2px solid brown; */
}
.footer-ul2{
    /* border:2px solid peru; */
}
#li-0{
    list-style: none;
    color: rgba(159, 159, 159, 1);
    padding-bottom: 2rem;
}
.li-1{
    list-style: none;
    padding-bottom: 2rem;
}
.b-1{
    
    border: 0;
    background-color: rgba(255, 255, 255, 1);
    border-bottom:2px solid rgba(0, 0, 0, 1);
    color: rgba(159, 159, 159, 1);
    padding-right: 2rem;
    padding-bottom: 0.5rem;
}
.b-2{
    border: 0;
    color: black;
    background-color: rgba(255, 255, 255, 1);
    border-bottom:2px solid rgba(0, 0, 0, 1);
    padding-bottom: 0.5rem;
    margin-left: 1rem;

}
a:link{
    text-decoration: none;
}
a{
    
    color: rgba(0, 0, 0, 1);
}
.footer-p{
    padding-top: 1rem;
    color: rgba(0, 0, 0, 1);
}
